
* {
  font-family: 'Lato', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fuck {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.racekeeper-title {
  height: 55px;
  margin-top: -8px;
  font-size: 50px;
  border-bottom: 1px solid #c0c0c0;
  padding-left: 5px;
}

.credits {
  font-size: 22px;
  margin-top: -8px;
  padding-left: 4px;
}

.shits {
  float: right;
  font-weight: 100;
  position: absolute;
  top: 17px;
  font-size: 40px;
  right: -3px;
}

.main-container {
  max-width: 100px;
}

.margin-auto {
  margin: auto auto;
}

.center-text {
  text-align: center;
}

.abs-center {
  position: absolute;
}

.abs-center.vertically-center{
  top: 50%;
}

.abs-center.horizontally-center{
  left: 50%;
}

.racer {
  margin: 10px;
  padding-top: 5px;
  position: relative;
}

.racer .keys {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 2;
  border-bottom: 1px dashed #777;
}

.racer .keys .increment {
  border-right: 1px dashed #777;
  height: 100%;
  display: inline-block;
  position: relative;
  text-align: right;
}

.racer .keys .increment .num {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 5px;
}

.runs {
  margin: 10px 0px;
  position: relative;
}

.runs .username {
  position: absolute;
  z-index: 10;
  margin-left: 10px;
}

.run {
  display: inline-block;
  height: 100%;
  /*background-color: rgba(192,192,192,0.5);*/
}
