<div class="racer" ng-style="{'height': getHeight()}">

  <runs ng-repeat="(user, runs) in races" user="user" runs="runs"></runs>

  <div class="keys">
    <div class="increment" ng-repeat="increment in increments" ng-style="{'width': incrementWidth}">
      <div class="num">
        {{getAxisMeasure(increment)}}
      </div>
    </div>
  </div>

  <div class="abs-center vertically-center horizontally-center" ng-show="noRuns">
    <h3>
      There were no runs recorded here. ):
    </h3>
  </div>

</div>